.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:65px;
    box-sizing: border-box;
    position: fixed; 
    top: 0; 
    left: 0;  
    right: 0;  
    background-color: white;
    z-index: 100;
    /* padding: 0 10px; */
}
.header-left{
    display: flex;
    height:56px;
    width: 225px; 
    align-items: center;
}
.header-left >img{
    display: block;
    height: 45px;
    margin-left:30px;
    cursor: pointer;
}
.header-mid{
    display: flex;
    height: 56px;
    align-items: center;
    width: 50%;
    margin-right:3vw;
    margin-left:3vw;
}
.header-mid > input{
    border-radius: 40px 0 0 40px;
    border: 1px solid  rgb(204,204,204);
    height: 40px;
    width:500px;
    text-align: left;
    /* border-right: none; */
    font-size:16px;
    padding-left: 10px;
}
.header-mid > input:focus{
    outline: rgb(204,204,204);
    /* border-color: initial !important; */
    border-color: rgb(144, 144, 238);
    box-shadow: inset 0 0 2px rgb(144, 144, 238);
}
.header-mid >button{
    border-radius:0 40px 40px 0;
    border: 1px solid  rgb(204,204,204);
    height: 40px;
    width: 64px;
    margin: 0;
    text-align: center;
    background-color: #F8F8F8;
    cursor: pointer;
}
 
.header-mid > img{
    height: 33px;
    margin-left: 1.5vw;
}
.header-right{
    display: flex;
    height: 56px;
    width: 225px;
    align-items: center;
    justify-content: flex-end;

}
.header-right >img{
    height: 30px;
    margin-right:3vw;
}
i{
    background-color:#F8F8F8;
}
 
.header-mid button:hover {
    background-color: #e2dfdf; 
  }
  
  .header-mid button:hover i {
    background-color: #e2dfdf;
  }
  