.watch-page-button-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    -webkit-scrollbar-width: thin;
    align-items: center;
    /* position: fixed; */
    z-index: 99;
    background-color: white;
    width:30vw;
    margin-top:80px;
    margin-left: 40px;
}
  
  .watch-page-button-list::-webkit-scrollbar {
    width: 0.1em;
  }
  
  .watch-page-button-list::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .watch-page-button-list::-webkit-scrollbar:hover {
    width: 2em;
  }
  
  .watch-page-button-list button {
    height: 32px;
    margin-right: 25px;
    padding: 7px;
    border: 1px solid  rgb(204,204,204);
    border-radius: 8px;
    width:auto;
    background-color: rgb(221, 218, 218);
  }
  .watch-page-button-list button:hover{
    background-color:rgb(204, 203, 203);
  }
